{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block content %}

<div class="bag-container">
  <div class="bag-table">
    {% if bag_items %}
        {% if free_delivery_delta > 0 %}
        <p class="free-delivery"><i class="fas fa-exclamation"></i> For <span>free</span> delivery, spend <span class="delivery-threshold">£{{ free_delivery_delta }}</span> extra!</p>
        {% endif %}
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
  
        {% for item in bag_items %}
        <tbody>
          <tr>
            <td class="product-td">{{ item.product.name }}
              {% if item.product.image_set.all|length > 0 %}
              <img src="{{ item.product.image_set.first.image.url }}" alt="">
            {% else %}
              <img src="{{ MEDIA_URL }}noimage.png">
            {% endif %}
            </td>
            {% if item.product.final_price %}
              {% if item.product.discounted %}
                <td>£<span style="text-decoration: line-through;">{{ item.product.price}}</span> {{ item.product.final_price }}</td>
                {% else %}
                <td>£{{ item.product.final_price }}</td>
                {% endif %}
            {% else %}
                <td>£ {{ item.product.price }}</td>
            {% endif %}
            <td>{{ item.quantity }}
                <form action="{% url 'remove_from_bag' item.item_id %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" value="Remove">
              </form>
            </td>
            {% if item.product.final_price %}
            <td>£{{ item.product.final_price | calc_subtotal:item.quantity }}</td>
            {% else %}
            <td>£{{ item.product.price | calc_subtotal:item.quantity }}</td>
            {% endif %}
          </tr>
        </tbody>
        {% endfor %}
        
      </table>
      <div class="bag-subtotal">
        <div>
          <h5>Subtotal: <span>£{{ grand_total|floatformat:2 }}</span></h5>
          <p>Delivery: <span>£{{ delivery|floatformat:2 }}</span></p>
        </div>
        <div class="bag-buttons">
          <a class="global-button" href="{% url 'all_products' %}">Keep Shopping</a>
          <a class="global-button" href="{% url 'checkout' %}">Secure Checkout</a>
        </div>
      </div>
      {% else %}
      <div class="empty-bag">
        <p>Your bag is empty</p>
        <a class="global-button" href="{% url 'all_products' %}">Keep Shopping</a>
      </div>
      {% endif %}
  </div>
</div>

  {% endblock %}