{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if bag_items %}
<div class="col s12 m7">
    <h2 class="header">Horizontal Card</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
        {% for item in bag_items %}
          <p>Name: {{ item.product.name }}</p>
          <p>Price: £{{ item.product.price }}</p>
          <p>Quantity: {{ item.quantity }}</p>
        {% endfor %}
        </div>
        <div class="card-action">
            <p>Total: {{ total|floatformat:2 }}</p>
            <p>Delivery: {{ delivery|floatformat:2 }}</p>
            <p>Grand Total: {{ grand_total|floatformat:2 }}</p>
            {% if free_delivery_delta > 0 %}
            <p>For free delivery, spend £{{ free_delivery_delta }} extra!</p>
            {% endif %}
          <a href="#">Keep Shopping</a>
          <a href="#">Secure Checkout</a>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <p>Your bag is empty</p>
  {% endif %}

  {% endblock %}