{% extends 'base.html' %}
{% load static %}

{% block page_header %}
  All wood used is sustainable and ethically sourced
{% endblock %}

{% block page_header_paragraph %}
  <span>About</span>
{% endblock %}

{% block content %}
    <div class="about-page-container">
        <section class="about-landing">
            <div class="about-landing-title">
                <h2>About Us</h2>
                <p><i class="fas fa-quote-left"></i>Woodturning began as a hobby when studying woodwork at school. I still get a real buzz from
                    transforming a gnarled piece of timber, seeing how it gradually reveals the rich beauty of the grain
                    as I turn, sand and polish it into a beautiful item.<i class="fas fa-quote-right"></i></p>
            </div>
            <div class="about-landing-image">
                <img src="{{ MEDIA_URL }}about-page-wood-image.PNG" alt="various-wood-types">
            </div>
        </section>
        <section class="about-info">
            <div class="about-segments">
                <h3>Exotic timbers</h3>
                    <p>
                        I source most of my exotic timber from a UK stockist in Kent who imports turning blanks and squares
                        directly from TCT Dalmann in Mozambique.
                    </p>

                    <p>
                        These Mozambican hardwood blanks are manufactured at Catapu, the 25,000 hectare forestry concession
                        and sawmill belonging to Dalmann. The manufacturing process includes the felling and extraction of
                        logs, the sawmilling of the logs, drying of the timber and breakdown for export.
                    </p>

                    <p>
                        Dalmann is renowned for responsible and sustainable forest management. It subscribes to a
                        reforestation policy of planting 5 new indigenous hardwood saplings for every tree harvested.
                    </p>

                    <p>
                        Dalmann works in partnership with the local communities that border its concession at Catapu,
                        focusing on wealth creation schemes to empower these communities.
                    </p>

                    <p>If you want to know more about them, visit www.dalmann.com</p>
            </div>
            <div class="about-segments">
                <h3>Indigenous timbers</h3>
                <p>I also use timber from naturally fallen logs and branches that I find in local woods. Some of the
                    most beautiful grains and colour contrasts are found in British timbers.</p>
                <img src="{{ MEDIA_URL }}wood-gallery-5.png" alt="various-wood-types">
                <div class="about-buttons">
                    <a href="{% url 'all_products' %}" class="global-button">Shop Now</a>
                    <a href="{% url 'blog' %}" class="global-button">Our Blog</a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}