{% extends 'base.html' %}
{% load static %}

{% block page_header %}
  All wood used is sustainable and ethically sourced
{% endblock %}

{% block page_header_paragraph %}
  <span>Contact</span>
{% endblock %}

{% block content %}
    <div class="contact-page-container">
        <section class="contact-landing">
            <div class="contact-landing-title">
                <h1>Contact Us</h1>
                <p><i class="fas fa-envelope"></i>Any questions? We love hearing from you!</p>
            </div>
            <div class="contact-landing-form">
              <p>Please fill out the form and we'll get back to you as soon as possible <i class="fas fa-reply"></i></p>
              <form action="" method="POST">
                {{ contact_form }}
                <button class="global-button" type="submit">Send Message <i class="fas fa-paper-plane"></i></button>
              </form>
            </div>
        </section>
    </div>
{% endblock %}