{% extends 'base.html' %}
{% load static %}

{% block page_header %}
  All wood used is sustainable and ethically sourced
{% endblock %}

{% block page_header_paragraph %}
  <span>Contact</span>
{% endblock %}

{% block content %}
    <div class="contact-page-container">
        <section class="contact-landing">
            <div class="contact-landing-title">
                <h1>Contact Us</h1>
                <p><i class="fas fa-envelope"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga delectus
                    quae assumenda, blanditiis eveniet provident velit obcaecati asperiores omnis vel?</p>
            </div>
            <div class="contact-landing-form">
                
            </div>
        </section>
    </div>
{% endblock %}