{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/glider.min.css' %}">
{% endblock %}

{% block content %}
    <div class="home-container">
        <section id="home-landing">
            <div class="home-landing-title">
                <h1>We Make Wonderful Gifts From <span>Wood</span></h1>
                <p>Collectible walking sticks and unique gifts for every occasion.</p>
                <p>Every item is individually handcrafted.</p>
                <p>Designs inspired by nature.</p>
                <div class="landing-buttons">
                    <a href="" class="global-button">Shop Now</a>
                    <a href="" class="global-button">Read More</a>
                </div>
            </div>
            <div class="home-landing-image">
                <img src="{{ MEDIA_URL }}landing-page-image.PNG" alt="">
            </div>
        </section>
        <section id="home-products">
            <h2>Our Selection</h2>
            <div class="category-container">
                {% for category in categories %}
                <div class="category-card"><a href="{% url 'all_products' %}?category={{ category.id }}">
                    {% if category.on_sale %}
                    <div class="category-sale">
                        <p class="category-sale-text">SALE!</p>
                        <p class="category-sale-amount">{{ category.on_sale_amount }}% off</p>
                    </div>
                    {% endif %}
                    <div class="category-card-image">
                      {% if category.image %}
                          <img class="responsive-img" src="{{ category.image.url }}" alt="">
                      {% else %}
                          <img class="responsive-img" src="{{ MEDIA_URL }}noimage.png">
                      {% endif %}
                    </div>
                    <div class="category-content">
                      <span class="category-title">{{ category.friendly_name }}</span>
                      <p>{{ category.product_set.all|length}} products</p>
                    </div></a>
                  </div>
                {% endfor %}
            </div>
        </section>
        
        <section id="home-blog">
            <div class="home-blog-posts"></div>
            <div class="home-blog-posts"></div>
            <div class="home-blog-posts"></div>
        </section>
        <section id="home-reviews">
            <h2>Our Reviews</h2>
            <div class="glider-contain">
                <div class="glider">
                    {% for review in reviews %}
                    <div class="home-reviews-card">
                        <div class="home-reviews-content">
                          <p>{{ review.body }}</p>
                        </div>
                            {% if review.user %}
                            <p class="home-reviews-user">{{ review.user }}</p>
                            {% else %}
                            <p class="home-reviews-user">Anonymous user</p>
                            {% endif %}
                            <p class="home-reviews-rating">{{ review.rating }}</p>
                    </div>
                    {% endfor %}
                </div>
                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
                <div role="tablist" class="dots"></div>
            </div>
        </section>
    </div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/glider.min.js' %}"></script>
<script>
 const headerSection = document.querySelector('.header-about-section')

 headerSection.classList.add('hide')

 new Glider(document.querySelector('.glider'), {
        slidesToScroll: 1,
        slidesToShow: 5.5,
        draggable: true,
        dots: '.dots',
        arrows: {
            prev: '.glider-prev',
            next: '.glider-next'
        }
    });
</script>
{% endblock %}