{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="home-container">
        <section id="home-landing">
            <div class="home-landing-section">
                <h1>Dragon Egg Woodturning</h1>
            </div>
            <div class="home-landing-section"></div>
        </section>
        <section id="home-about">
            <div class="home-about-section"></div>
            <div class="home-about-section"></div>
        </section>
        <section id="home-blog">
            <div class="home-blog-posts"></div>
            <div class="home-blog-posts"></div>
            <div class="home-blog-posts"></div>
        </section>
        <section id="home-products">
            <div class="home-products-section"></div>
            <div class="home-products-section"></div>
            <div class="home-products-section"></div>
        </section>
        <section id="home-woodtype">
            <div class="home-woodtype-section"></div>
            <div class="home-woodtype-section"></div>
            <div class="home-woodtype-section"></div>
            <div class="home-woodtype-section"></div>
            <div class="home-woodtype-section"></div>
        </section>
    </div>
{% endblock %}