{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="home-container">
        <section id="home-landing">
            <div class="home-landing-title">
                <h1>We Make Wonderful Gifts From <span>Wood</span></h1>
                <p>Collectible walking sticks and unique gifts for every occasion.</p>
                <p>Every item is individually handcrafted.</p>
                <p>Designs inspired by nature.</p>
                <div class="landing-buttons">
                    <a href="" class="global-button">Shop Now</a>
                    <a href="" class="global-button">Read More</a>
                </div>
            </div>
            <div class="home-landing-image">
                <img src="{{ MEDIA_URL }}landing-page-image.PNG" alt="">
            </div>
        </section>
        <section id="home-products">
            <h2>Our Selection</h2>
            <div class="category-container">
                {% for category in categories %}
                <div class="category-card"><a href="{% url 'all_products' %}?category={{ category.id }}">
                    {% if category.on_sale %}
                    <div class="category-sale">
                        <p class="category-sale-text">SALE!</p>
                        <p class="category-sale-amount">{{ category.on_sale_amount }}% off</p>
                    </div>
                    {% endif %}
                    <div class="category-card-image">
                      {% if category.image %}
                          <img class="responsive-img" src="{{ category.image.url }}" alt="">
                      {% else %}
                          <img class="responsive-img" src="{{ MEDIA_URL }}noimage.png">
                      {% endif %}
                    </div>
                    <div class="category-content">
                      <span class="category-title">{{ category.friendly_name }}</span>
                      <p>{{ category.product_set.all|length}} products</p>
                    </div></a>
                  </div>
                {% endfor %}
            </div>
        </section>
        
        <section id="home-blog">
            <div class="home-blog-posts"></div>
            <div class="home-blog-posts"></div>
            <div class="home-blog-posts"></div>
        </section>
        <section id="home-woodtype">
            <div class="home-woodtype-section"></div>
            <div class="home-woodtype-section"></div>
            <div class="home-woodtype-section"></div>
            <div class="home-woodtype-section"></div>
            <div class="home-woodtype-section"></div>
        </section>
    </div>
{% endblock %}

{% block extra_js %}
<script>
 const headerSection = document.querySelector('.header-about-section')

 headerSection.classList.add('hide')


</script>
{% endblock %}