{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="profile-container">
    <div class="profile-nav">
      <h2>
        {{ profile.user }}
      </h2>
      <ul>
        <li><i class="fas fa-user"></i>Account Info</li>
        <li><i class="fas fa-credit-card"></i>Orders</li>
        <li><i class="fas fa-star"></i>Reviews</li>
      </ul>
    </div>
    <div class="profile-section">
      <div>
        {% for order in orders %}
        {{ order }}
        {% endfor %}
      </div>
      <div></div>
      <div></div>
    </div>
</div>
{% endblock %}