{% extends 'base.html' %}
{% load static %}

{% block page_header %}
  All wood used is sustainable and ethically sourced
{% endblock %}

{% block page_header_paragraph %}
  <span>{{ profile.user }}</span>
{% endblock %}

{% block content %}

<div class="profile-container">
    <div class="profile-nav">

        <h2>Menu</h2>
        <ul>
          <li class="profile-links active" data-link='home'><i class="fas fa-home"></i>Profile Home</li>
          <li class="profile-links" data-link='account'><i class="fas fa-user"></i>Account Info</li>
          <li class="profile-links" data-link='orders'><i class="fas fa-credit-card"></i>Orders</li>
          <li class="profile-links" data-link='reviews'><i class="fas fa-star"></i>Reviews</li>
          {% if request.user.is_superuser %}
          <li class="profile-links" data-link='newsletter'><i class="fas fa-mail-bulk"></i>Newsletter</li>
          <li class="profile-links" data-link='discount'><i class="fas fa-pound-sign"></i>Discounts</li>
          <li class="profile-links" data-link='products'><i class="fas fa-store-alt"></i>Products</li>
          <li class="profile-links" data-link='blog'><i class="fas fa-blog"></i>Blogs</li>
          {% endif %}
        </ul>

    </div>
    <div class="profile-section">
      <div data-link='home' class="profile-home-container profile-segment">
        <h2 class="profile-section-header">Hello, <span>{{ profile.user }}</span></h2>
        {% if profile.user.date_joined %}
        <p><i class="fas fa-calendar-check"></i> Member since {{ profile.user.date_joined }}</p>
        {% endif %}
        {% if profile.user.last_login %}
        <p><i class="far fa-clock"></i> Last login {{ profile.user.last_login }}</p>
        {% endif %}
        {% if request.user.is_authenticated %}
          <p><a href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></p>
        {% endif %}
      </div>
      <div data-link='account' class="profile-account-info-container profile-segment hide">
        <h2 class="profile-section-header">Your account details:</h2>
        <form action="{% url 'profile' %}" method="POST" id="profile-form">
          {% csrf_token %}
          <!-- Used help to get for attribute after Django removed it after adding fieldsets in -  https://www.skillsugar.com/how-to-get-form-input-id-label-name-in-django-template -->
          <fieldset>
            <legend>Details</legend>
            <label for="{{ form.full_name.id_for_label }}">{{ form.full_name.label }}</label>
            {{ form.full_name }}
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {{ form.email }}
          </fieldset>
          <fieldset>
            <legend>Delivery</legend>
            <label for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
            {{ form.phone_number }}
            <label for="{{ form.street_address1.id_for_label }}">{{ form.street_address1.label }}</label>
            {{ form.street_address1 }}
            <label for="{{ form.street_address2.id_for_label }}">{{ form.street_address2.label }}</label>
            {{ form.street_address2 }}
            <label for="{{ form.town_or_city.id_for_label }}">{{ form.town_or_city.label }}</label>
            {{ form.town_or_city }}
            <label for="{{ form.postcode.id_for_label }}">{{ form.postcode.label }}</label>
            {{ form.postcode }}
            <label for="{{ form.county.id_for_label }}">{{ form.county.label }}</label>
            {{ form.county }}
            <label for="{{ form.country.id_for_label }}">{{ form.country.label }}</label>
            {{ form.country }}
          </fieldset>

          <div class="checkout-pay-section">
            <button class="global-button" id="submit-button" type="submit">
              Update Profile
            </button>
          </div>
        </form>
      </div>
      <div data-link='orders' class="profile-orders-container profile-segment hide">
        <h2 class="profile-section-header">Your order history details:</h2>
        <table>
          <thead>
            <tr>
              <th>Order No.</th>
              <th>Date</th>
              <th>Items</th>
              <th>Total</th>
            </tr>
          </thead>
    
          {% for order in orders %}
          <tbody>
            <tr>
              <td class="product-td"><a href="{% url 'checkout_success' order.order_number %}">{{ order.order_number|truncatechars:5 }}</a></td>
              <td>{{ order.date }}</td>
              <td>
                {% for item in order.lineitems.all %}
                <p>{{ item.product.name}} x {{ item.quantity }}</p>
                {% endfor %}
              </td>
              <td>£{{ order.grand_total }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
      <div data-link='reviews' class="profile-review-container profile-segment hide">
        <h2 class="profile-section-header">Your review history details:</h2>
        <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Date</th>
              <th>Rating</th>
            </tr>
          </thead>
          {% for review in reviews %}
          <tbody>
            <tr>
              <td><a href="{% url 'product_detail' review.product.id %}">{{ review.product.name }}</a></td>
              <td>{{ review.date }}</td>
              <td class="product-review-rating">{{ review.rating }} <i class="fas fa-star"></i></td>
              <td><a href="{% url 'edit_review' review.id %}">Edit <i class="far fa-edit"></i></a></td>
              <td><a href="{% url 'delete_review' review.id %}">Delete <i class="fas fa-trash"></i></a></td>

            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
      {% if request.user.is_superuser %}
      <div data-link='newsletter' class="profile-admin-newsletter-container profile-segment hide">
        <h2 class="profile-section-header">Send newsletter to subscribers:</h2>
        <form action="{% url 'send_newsletter' %}" method="POST">
          {% csrf_token %}
          {{ newsletter_form }}
          <button class="global-button" type="submit">Send newsletter</button>
        </form>
      </div>
      <div data-link='discount' class="profile-admin-discount-container profile-segment hide">
        <h2 class="profile-section-header">Add discount to categories:</h2>
        {% for category in categories %}
          <div class="category-content">
            <h5>{{ category.friendly_name }}
              {% if category.on_sale_amount %}
              <span>*** ON SALE - {{ category.on_sale_amount }}% ***</span>
              {% endif %}
            </h5>
            <form action="{% url 'category_discount' category.id %}" method="POST">
              {% csrf_token %}
              {{ discount_form }}
              <button class="global-button" type="submit">Add discounts</button>
            </form>
          </div>
        {% endfor %}
      </div>
      <div data-link='products' class="profile-admin-products-container profile-segment hide">
        <h2 class="profile-section-header">Add/edit/delete current products:</h2>
        <h3>Add New Product</h3>
        <form action="{% url 'add_product' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ product_form }}
          {{ image_form }}
          <button class="global-button" type="submit">Add Product</button>
        </form>
        <h3>Current Products</h3>
        {% for category in categories %}
          <h4>{{ category.friendly_name }}({{ category.product_set.all|length }})</h4>
        <table>
        <thead>
          <tr>
            <th>Product</th>
          </tr>
        </thead>
  
        {% for product in category.product_set.all %}
        <tbody>
          <tr>
            <td><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></td>
            <td><a href="{% url 'edit_product' product.id %}">Edit <i class="far fa-edit"></i></a></td>
            <td><a href="{% url 'edit_product_images' product.id %}">Edit Images <i class="far fa-edit"></i></a></td>
            <td><a href="{% url 'delete_product' product.id %}">Delete <i class="fas fa-trash"></i></a></td>
          </tr>
        </tbody>
        {% endfor %}
        
        </table>
        {% endfor %}
      </div>
      <div data-link='blog' class="profile-admin-blog-container profile-segment hide">
        <h2 class="profile-section-header">Add/edit/delete current blogs:</h2>
        <h3>Add New Blog</h3>
        <form action="{% url 'add_blog' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ blog_form }}
          <button class="global-button" type="submit">Add Blog</button>
        </form>
        <h3>Current Blogs</h3>
        <table>
          <thead>
            <tr>
              <th>Blog title</th>
              <th>Date</th>
            </tr>
          </thead>
          
          
          {% for blog in blogs %}
        <tbody>
          <tr>
            <td><a href="{% url 'blog_post' blog.id %}">{{ blog.title }}</a></td>
            <td>{{ blog.date }}</td>
            <td><a href="{% url 'edit_blog' blog.id %}">Edit <i class="far fa-edit"></i></a></td>
            <td><a href="{% url 'delete_blog' blog.id %}">Delete <i class="fas fa-trash"></i></a></td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
      </div>
      {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
 const links = document.querySelectorAll('.profile-links')
 const sections = document.querySelectorAll('.profile-segment')
 let dataLink

 // Display check for current section

 function checkSections(dataLink) {
   sections.forEach(section => {
    section.classList.add('hide')
    if (dataLink === section.dataset.link) {
      section.classList.remove('hide')
    }
   })
 }

 links.forEach(link => {
  link.addEventListener('click', ()=> {
    links.forEach(oldlink => {
      oldlink.classList.remove('active')
    })
    link.classList.add('active')
    dataLink = link.dataset.link
    console.log(dataLink);
    checkSections(dataLink)
  })
 })


</script>
{% endblock %}