{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="checkout-container">
  <form action="{% url 'checkout' %}" method="POST" id="payment-form">
    {% csrf_token %}
    <!-- Used help to get for attribute after Django removed it after adding fieldsets in -  https://www.skillsugar.com/how-to-get-form-input-id-label-name-in-django-template -->
    <fieldset>
      <legend>Details</legend>
      <label for="{{ order_form.full_name.id_for_label }}">{{ order_form.full_name.label }}</label>
      {{ order_form.full_name }}
      <label for="{{ order_form.email.id_for_label }}">{{ order_form.email.label }}</label>
      {{ order_form.email }}
    </fieldset>
    <fieldset>
      <legend>Delivery</legend>
      <label for="{{ order_form.phone_number.id_for_label }}">{{ order_form.phone_number.label }}</label>
      {{ order_form.phone_number }}
      <label for="{{ order_form.street_address1.id_for_label }}">{{ order_form.street_address1.label }}</label>
      {{ order_form.street_address1 }}
      <label for="{{ order_form.street_address2.id_for_label }}">{{ order_form.street_address2.label }}</label>
      {{ order_form.street_address2 }}
      <label for="{{ order_form.town_or_city.id_for_label }}">{{ order_form.town_or_city.label }}</label>
      {{ order_form.town_or_city }}
      <label for="{{ order_form.postcode.id_for_label }}">{{ order_form.postcode.label }}</label>
      {{ order_form.postcode }}
      <label for="{{ order_form.county.id_for_label }}">{{ order_form.county.label }}</label>
      {{ order_form.county }}
      <label for="{{ order_form.country.id_for_label }}">{{ order_form.country.label }}</label>
      {{ order_form.country }}
    </fieldset>
    <fieldset>
      <legend>Payment</legend>
      <!-- Stripe -->
      <div id="card-element"></div>
      <div id="card-errors" role="alert"></div>
      <input type="hidden" name="client_secret" value="{{ client_secret }}">
    </fieldset>
    <div>
      <button class="global-button" id="submit-button" type="submit">
        Submit
      </button>
      <a href="{% url 'view_bag' %}">View Bag</a>
    </div>
  </form>
  <div>
    <h5>Order Summary</h5>
  </div>
</div>

{{ order_form }}

  {% endblock %}

{% block postload_js %}
  {{ block.super }}
  {{ stripe_public_key|json_script:"id_stripe_public_key" }}
  {{ client_secret|json_script:"id_client_secret" }}
  <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}