{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col s12 m7">
    <h2 class="header">Horizontal Card</h2>
    {{ bag_items }}
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <form action="{% url 'checkout' %}" method="POST">
            {% csrf_token %}
            {{ order_form }}
            <fieldset>
              <!-- Stripe -->
              <div id="card-element"></div>
              <div id="card-errors" role="alert"></div>
            </fieldset>
            <div>
              <button type="submit">
                Submit
              </button>
              <a href="{% url 'view_bag' %}">View Bag</a>
            </div>
          </form>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>
  </div>

  {% if bag_items %}
<div class="col s12 m7">
    <h2 class="header">Horizontal Card</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
        {% for item in bag_items %}
          <p>Name: {{ item.product.name }}</p>
          <p>Price per item: £{{ item.product.price }}</p>
          <p>Quantity: {{ item.quantity }}</p>
          <form action="{% url 'remove_from_bag' item.item_id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Remove">
        </form>
        {% endfor %}
        </div>
        <div class="card-action">
            <p>Total: {{ total|floatformat:2 }}</p>
            <p>Delivery: {{ delivery|floatformat:2 }}</p>
            <p>Grand Total: {{ grand_total|floatformat:2 }}</p>
            {% if free_delivery_delta > 0 %}
            <p>For free delivery, spend £{{ free_delivery_delta }} extra!</p>
            {% endif %}
          <a href="#">Keep Shopping</a>
          <a href="#">Secure Checkout</a>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <p>Your bag is empty</p>
  {% endif %}

  {% endblock %}