@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --primary-brown: #361C15;
  --secondary-brown: #D2B48C;
  --primary-orange: #E66C4E;
  --primary-cream: #FFF5EF;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: "Roboto", sans-serif;
}

.global-button {
  padding: 1rem 1.5rem;
  background: var(--primary-orange);
  color: var(--white);
  cursor: pointer;
  border: 1px solid var(--primary-brown);
  display: block;
  margin: 0 auto;
  font-weight: 500;
  transition: 0.5s;
}
.global-button:hover, .global-button:focus {
  transition: 0.5s;
  background: var(--secondary-brown);
  transform: scale(1.1);
}

.hide {
  display: none;
}

body {
  background: var(--primary-cream);
  font-family: "Poppins", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
body main {
  flex: 1 0 auto;
}

#home-about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  min-height: 100vh;
}
#home-about .home-about-section {
  position: relative;
}
#home-about .home-about-section .opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#home-about .home-about-section .home-about-info {
  position: absolute;
  top: 12.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#home-about .home-about-section .home-about-info > * {
  margin: 1rem auto;
}
#home-about .home-about-section .home-about-info h2 {
  font-weight: 500;
  color: var(--primary-cream);
  text-transform: uppercase;
  text-align: center;
}
#home-about .home-about-section .home-about-info p {
  color: var(--primary-cream);
  font-weight: 200;
  text-align: center;
}
#home-about .home-about-section .home-about-info a {
  width: 25%;
  text-align: center;
  box-shadow: 10px 10px 0 0 var(--primary-cream);
  transition: 0.5s;
}
#home-about .home-about-section .home-about-info a:hover, #home-about .home-about-section .home-about-info a:focus {
  box-shadow: none;
  transition: 0.5s;
}
#home-about .home-about-section img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
}
.home-container #home-landing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  min-height: 100vh;
}
.home-container #home-landing .home-landing-title {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75%;
  padding: 5em;
}
.home-container #home-landing .home-landing-title h1 {
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: calc(3rem + 2vw);
  margin-bottom: 0;
  color: var(--primary-brown);
  position: relative;
}
.home-container #home-landing .home-landing-title h4 {
  font-weight: 100;
  color: var(--primary-brown);
}
.home-container #home-landing .home-landing-title .landing-buttons {
  display: flex;
}
.home-container #home-landing .home-landing-title .landing-buttons a {
  font-style: 1.7em;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 0;
  margin: 0;
  text-align: center;
  width: 15em;
}
.home-container #home-landing .home-landing-title .landing-buttons a + a {
  margin-left: 1em;
  background: none;
  color: var(--primary-orange);
  box-shadow: 0.5rem 0.5rem 0 0 var(--primary-brown);
}
.home-container #home-landing .home-landing-title .landing-buttons a + a:hover, .home-container #home-landing .home-landing-title .landing-buttons a + a :focus {
  box-shadow: none;
  transition: 0.5s;
}
.home-container #home-landing .home-landing-image {
  height: 75%;
  display: flex;
  align-items: center;
}
.home-container #home-landing .home-landing-image img {
  padding: 3em;
  width: 75%;
  box-shadow: -20px 20px 20px 0px var(--primary-brown);
}
.home-container #home-blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.home-container #home-blog .home-blog-posts {
  border: 1px solid black;
}
.home-container #home-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  min-height: 50vh;
}
.home-container #home-woodtype {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.home-container #home-woodtype .home-woodtype-section {
  border: 1px solid black;
}

nav {
  background: var(--primary-brown);
}

.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
}
.category-container .category-card {
  width: 200px;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-container .category-card a {
  width: 100%;
  color: var(--primary-brown);
}
.category-container .category-card a .category-card-image {
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  overflow: hidden;
}
.category-container .category-card a .category-card-image img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
.category-container .category-card a .category-card-image img:hover, .category-container .category-card a .category-card-image img:focus {
  transform: scale(1.5);
  transition: 0.5s;
}
.category-container .category-card a .category-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.category-container .category-card a .category-content .category-title {
  font-weight: 500;
  transition: 0.3s;
}
.category-container .category-card a .category-content .category-title:hover, .category-container .category-card a .category-content .category-title:focus {
  transform: scale(1.1);
  transition: 0.3s;
}
.category-container .category-card a .category-content p {
  font-weight: 200;
}
.category-container .category-type-section {
  border: 1px solid black;
}

#search-products-section {
  width: 300px;
  margin: 0 auto;
}
#search-products-section form {
  background: var(--secondary-brown);
}
#search-products-section form .input-field {
  display: flex;
}
#search-products-section form .input-field input[type=search] {
  border: none;
  padding: 0 1rem;
  margin: 0;
}
#search-products-section form .input-field input[type=search]:focus:not(.browser-default) {
  background: var(--secondary-brown);
  color: var(--primary-brown);
}

.filter-wood {
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  background: var(--primary-brown);
  color: var(--primary-cream);
  cursor: pointer;
  border: none;
  display: block;
  margin: 0 auto;
}
.filter-wood i {
  margin-right: 0.5rem;
}
.filter-wood:focus {
  background: var(--secondary-brown);
}

#wood-filter-side-filter .sidenav {
  background-color: var(--primary-cream);
}
#wood-filter-side-filter img {
  width: 100%;
}
#wood-filter-side-filter h4 {
  text-transform: uppercase;
  text-align: center;
  margin: 1.5rem 0;
  font-weight: 100;
}
#wood-filter-side-filter .wood-type-link {
  padding: 0.5rem;
  transition: 0.4s;
  letter-spacing: 2px;
  font-weight: 300;
}
#wood-filter-side-filter .wood-type-link:hover {
  transition: 0.4s;
  transform: translateX(1rem);
  font-weight: 500;
}
#wood-filter-side-filter .wood-type-link a {
  color: var(--primary-brown);
}
#wood-filter-side-filter .wood-type-link a i {
  margin-right: 0.5rem;
}
#wood-filter-side-filter .wood-type-link a i:hover {
  background: var(--primary-brown);
  transform: scale(1.2);
  transition: 0.2s;
}

.products-amount {
  width: 100%;
  text-align: center;
  margin-top: 5rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
}
.products-amount a {
  color: var(--primary-brown);
}
.products-amount a:hover, .products-amount a:focus {
  font-weight: 500;
}
.products-amount p {
  font-weight: 300;
}
.products-amount .product-label, .products-amount .product-label-search {
  font-weight: 500;
}

.product-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  overflow: hidden;
}
.product-container .watermark {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 500px;
  transform: translateY(-10%);
  z-index: -10000;
  opacity: 0.5;
  color: var(--white);
}
.product-container > *:nth-child(1) {
  flex: 1 1 30%;
}
.product-container > *:nth-child(2) {
  flex: 1 1 70%;
}
.product-container .product-category-container h2 {
  font-weight: 100;
  text-transform: uppercase;
  position: relative;
}
.product-container .product-category-container p {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 2px;
}
.product-container .product-category-container p:hover, .product-container .product-category-container p:focus {
  font-weight: 500;
}
.product-container .product-category-container p a {
  position: relative;
  color: var(--primary-brown);
}
.product-container .product-category-container p a .fa-square {
  margin-right: 0.5rem;
}
.product-container .product-category-container p a .fa-check {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.5);
}
.product-container .product-category-container hr {
  width: 50%;
}
.product-container .product-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.product-container .product-item-container .product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-container .product-item-container .product-card .product-card-image {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-container .product-item-container .product-card .product-card-image img {
  height: 250px;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  transform: scale(0.75);
  transition: 0.5s;
  box-shadow: 0px 20px 50px 0px var(--primary-brown);
}
.product-container .product-item-container .product-card .product-card-image img:hover {
  transform: scale(0.9);
  transition: 0.3s;
}
.product-container .product-item-container .product-card .product-card-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: space-between;
  align-items: center;
}
.product-container .product-item-container .product-card .product-card-content .product-card-title h3 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-brown);
  margin-top: 0;
  text-align: center;
}
.product-container .product-item-container .product-card .product-card-content .product-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.product-container .product-item-container .product-card .product-card-content .product-price h2 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 200;
}
.product-container .product-item-container .product-card .product-card-content .product-price .product-rating h4 {
  font-size: 0.8rem;
}
.product-container .product-item-container .product-card .product-card-content .individual-category, .product-container .product-item-container .product-card .product-card-content .individual-woodtype {
  font-size: 0.8rem;
}
.product-container .product-item-container .product-card .product-card-content .global-button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  box-shadow: 0px 2px 2px 0px var(--primary-brown);
  text-transform: lowercase;
}

.product-card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card-description form p {
  height: 100px;
}
.product-card-description form p input[type=range] {
  height: 60px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
.product-card-description form p input[type=range]:focus {
  outline: none;
}
.product-card-description form p input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #361C15;
  background: #361C15;
  border-radius: 0px;
  border: 0px solid #361C15;
}
.product-card-description form p input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 2px 0px #361C15;
  border: 2px solid #361C15;
  height: 50px;
  width: 50px;
  border-radius: 0px;
  background: #E66C4E;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -23.5px;
}
.product-card-description form p input[type=range]:focus::-webkit-slider-runnable-track {
  background: #361C15;
}
.product-card-description form p input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #361C15;
  background: #361C15;
  border-radius: 0px;
  border: 0px solid #361C15;
}
.product-card-description form p input[type=range]::-moz-range-thumb {
  box-shadow: 2px 2px 0px #361C15;
  border: 2px solid #361C15;
  height: 50px;
  width: 50px;
  border-radius: 0px;
  background: #E66C4E;
  cursor: pointer;
}
.product-card-description form p input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.product-card-description form p input[type=range]::-ms-fill-lower {
  background: #361C15;
  border: 0px solid #361C15;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #361C15;
}
.product-card-description form p input[type=range]::-ms-fill-upper {
  background: #361C15;
  border: 0px solid #361C15;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #361C15;
}
.product-card-description form p input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 2px 2px 0px #361C15;
  border: 2px solid #361C15;
  height: 50px;
  width: 50px;
  border-radius: 0px;
  background: #E66C4E;
  cursor: pointer;
}
.product-card-description form p input[type=range]:focus::-ms-fill-lower {
  background: #361C15;
}
.product-card-description form p input[type=range]:focus::-ms-fill-upper {
  background: #361C15;
}
.product-card-description form p input[type=range] + .thumb {
  display: none;
}
.product-card-description form p input[type=range] {
  border: none;
}
.product-card-description form .add-to-bag-buttons {
  display: flex;
}
.product-card-description form .add-to-bag-buttons a, .product-card-description form .add-to-bag-buttons input {
  margin: 0;
}
.product-card-description form .add-to-bag-buttons a + input {
  margin-left: 1rem;
  background: none;
  color: var(--primary-orange);
  box-shadow: 0.5rem 0.5rem 0 0 var(--primary-brown);
}
.product-card-description form .add-to-bag-buttons a + input:hover, .product-card-description form .add-to-bag-buttons a + input :focus {
  box-shadow: none;
  transition: 0.5s;
}

.bag-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bag-container img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
.bag-container .bag-table {
  margin-top: 5rem;
  padding: 2rem;
  box-shadow: 20px 20px 20px 0 var(--primary-brown);
  background: var(--white);
}
.bag-container .bag-table .free-delivery {
  font-weight: 100;
  font-style: italic;
  margin-bottom: 1rem;
}
.bag-container .bag-table .free-delivery span {
  font-weight: 500;
  color: red;
}
.bag-container .bag-table .free-delivery .delivery-threshold {
  text-decoration: underline;
}
.bag-container .bag-table table tr {
  border: none;
}
.bag-container .bag-table table thead {
  background: var(--secondary-brown);
}
.bag-container .bag-table table th {
  border-radius: 0;
}
.bag-container .bag-table table .product-td {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bag-container .bag-table table td {
  vertical-align: top;
}
.bag-container .bag-subtotal {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.bag-container .bag-subtotal .bag-buttons {
  display: flex;
}
.bag-container .bag-subtotal .bag-buttons a + a {
  margin-left: 1rem;
  height: 50%;
  background: none;
  color: var(--primary-orange);
  box-shadow: 0.5rem 0.5rem 0 0 var(--primary-brown);
}
.bag-container .bag-subtotal .bag-buttons a + a:hover, .bag-container .bag-subtotal .bag-buttons a + a :focus {
  box-shadow: none;
  transition: 0.5s;
}
.bag-container .empty-bag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bag-container .empty-bag p {
  font-size: 3rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.checkout-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 5rem auto;
}
.checkout-container .checkout-section > h5, .checkout-container .checkout-section > p {
  text-align: center;
  font-weight: 200;
  letter-spacing: 2px;
}
.checkout-container .checkout-section > p {
  margin-bottom: 2rem;
}
.checkout-container form {
  width: 400px;
  margin: 0 auto;
}
.checkout-container form fieldset {
  border: none;
}
.checkout-container form legend {
  font-weight: 500;
  letter-spacing: 2px;
}
.checkout-container form label {
  font-size: 0.7em;
  color: var(--primary-brown);
  font-weight: 300;
}
.checkout-container form input[type=text]:not(.browser-default), .checkout-container form input[type=email]:not(.browser-default), .checkout-container form #card-element, .checkout-container form #card-errors {
  padding: 0 0.5rem;
  width: 360px;
  border: none;
  background: #ded3cc;
  border-radius: 2px;
  box-shadow: 0px 2px 2px 0px var(--primary-brown);
}
.checkout-container form #card-element {
  padding: 1.5rem;
  width: 375px;
}

.checkout-nav {
  width: 50%;
  margin: 2rem auto;
  display: flex;
}
.checkout-nav a {
  width: 300px;
  text-align: center;
}
.checkout-nav a + a {
  margin-left: 1em;
  background: none;
  color: var(--primary-orange);
  box-shadow: 0.5rem 0.5rem 0 0 var(--primary-brown);
}
.checkout-nav a + a:hover, .checkout-nav a + a :focus {
  box-shadow: none;
  transition: 0.5s;
}

.checkout-success-container {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  width: 80%;
  background: var(--white);
  padding: 1rem;
  box-shadow: 0 0 10px 0 var(--primary-brown);
}
.checkout-success-container h3 {
  text-transform: uppercase;
}
.checkout-success-container h5 {
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: underline;
}
.checkout-success-container p {
  font-weight: 200;
  padding: 0.5em;
}
.checkout-success-container .order-title {
  font-weight: 500;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
}
.profile-container > .profile-nav {
  flex: 1 1 40%;
  padding: 3rem;
}
.profile-container > .profile-nav h2 {
  font-weight: 100;
  text-transform: uppercase;
  position: relative;
}
.profile-container > .profile-nav li {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
  color: var(--primary-brown);
}
.profile-container > .profile-nav li:hover, .profile-container > .profile-nav li:focus {
  font-weight: 500;
}
.profile-container > .profile-nav li .fas {
  margin-right: 0.5rem;
}
.profile-container > .profile-section {
  flex: 1 1 60%;
}

.page-footer {
  background: var(--primary-brown);
}/*# sourceMappingURL=base.css.map */