@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --primary-brown: #361C15;
    --secondary-brown: #D2B48C;
    --primary-orange: #E66C4E;
    --primary-cream: #FFF5EF;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Global classes

button {
    font-family: 'Roboto', sans-serif;
}

.global-button {
    padding: 1rem 1.5rem;
    // border-radius: 2rem;
    background: var(--primary-orange);
    color: var(--white);
    cursor: pointer;
    border: 1px solid var(--primary-brown);
    display: block;
    margin: 0 auto;
    font-weight: 500;
    transition: 0.5s;

    &:hover, &:focus {
        transition: 0.5s;
        background: var(--secondary-brown);
        transform: scale(1.1);
    }
}

.hide {
    display: none;
}

body {
    background: var(--primary-cream);
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    main {
        flex: 1 0 auto;
    }
}

.home-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));

    // section {
    //     min-height: 100vh;
    // }

    #home-landing {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
        min-height: 100vh;

        .home-landing-title {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 75%;
            padding: 5em;

            h1 {
                font-weight: 600;
                letter-spacing: 5px;
                text-transform: uppercase;
                font-size: calc(3rem + 2vw);
                margin-bottom: 0;
                color: var(--primary-brown);
                position: relative;
            }

            h4 {
                font-weight: 100;
                color: var(--primary-brown);
            }

            .landing-buttons {
                display: flex;

                a {
                    font-style: 1.7em;
                    padding: 0.5em 1em;
                    cursor: pointer;
                    border-radius: 0;
                    margin: 0;
                    text-align: center;
                    width: 15em;

                    + a {
                        margin-left: 1em;
                        background: none;
                        color: var(--primary-orange);
                        box-shadow: 0.5rem 0.5rem 0 0 var(--primary-brown);

                        &:hover, :focus {
                            box-shadow: none;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }

        .home-landing-image {
            height: 75%;
            display: flex;
            align-items: center;

            img {
                padding: 3em;
                width: 75%;
                box-shadow: -20px 20px 20px 0px var(--primary-brown);
            }
        }
    }
    #home-about {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        min-height: 100vh;

        .home-about-section {
            position: relative;

            .opaque-overlay {
                position: absolute;
                top: 0;
                left: 0;
                height: 50%;
                width: 100%;
                background: rgba(0, 0, 0, 0.5) ;
            }

            .home-about-info {
                position: absolute;
                top: 12.5%;
                // left: 50%;
                // transform: translate(-50%, 75%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                > * {
                    margin: 1rem auto;
                }

                h2 {
                    font-weight: 500;
                    color: var(--primary-cream);
                    text-transform: uppercase;
                    text-align: center;
                }

                p {
                    color: var(--primary-cream);
                    font-weight: 200;
                    text-align: center;
                }

                a {
                    width: 25%;
                    text-align: center;
                    box-shadow: 10px 10px 0 0 var(--primary-cream);
                    transition: 0.5s;

                    &:hover, &:focus {
                        box-shadow: none;
                        transition: 0.5s;
                    }
                }
            }

            img {
                width: 100%;
                height: 50%;
                object-fit: cover;
            }
        }

    }
    #home-blog {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

        .home-blog-posts {
            border: 1px solid black;
        }
    }
    #home-products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        min-height: 50vh;
    }
    #home-woodtype {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

        .home-woodtype-section {
            border: 1px solid black;
        }
    }
}

// Navbar

nav {
    background: var(--primary-brown);
}

// Categories Page

.category-container {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    width: 90%;
    margin: 0 auto;


    .category-card {
        width: 200px;
        margin: 1rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        

        a {
            width: 100%;
            color: var(--primary-brown);

            .category-card-image {
                height: 200px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                clip-path: circle(50% at 50% 50%);
                overflow: hidden;
               img {
                   width: 200px;
                   height: 200px;
                   position: absolute;
                   top: 0;
                   left: 0;
                   clip-path: circle(50% at 50% 50%);
                   object-fit: cover;
                   transition: 0.5s;
                   
                   &:hover, &:focus {
                    transform: scale(1.5);
                    transition: 0.5s;
                   }
               }
            }

            .category-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 1rem;

                .category-title {
                    font-weight: 500;
                    transition: 0.3s;

                    &:hover, &:focus {
                        transform: scale(1.1);
                        transition: 0.3s;
                    }
                }

                p {
                    font-weight: 200;
                }
            }
        }
    }

    .category-type-section {
        border: 1px solid black;
    }
}

// Products Page

.filter-wood {
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    background: var(--primary-brown);
    color: var(--primary-cream);
    cursor: pointer;
    border: none;
    display: block;
    margin: 0 auto;

    i {
        margin-right: 0.5rem ;
    }

    &:focus {
        background: var(--secondary-brown);
    }
}

#wood-filter-side-filter {

    .sidenav {
        background-color: var(--primary-cream);
    }

    img {
        width: 100%;
    }

    h4 {
        text-transform: uppercase;
        text-align: center;
        margin: 1.5rem 0;
        font-weight: 100;
    }

    .wood-type-link {
        padding: 0.5rem;
        transition: 0.4s;
        letter-spacing: 2px;
        font-weight: 300;

        &:hover {
            transition: 0.4s;
            transform: translateX(1rem);
            font-weight: 500;
        }

        a {
            color: var(--primary-brown);

            i {
                margin-right: 0.5rem;
    
                &:hover {
                    background: var(--primary-brown);
                    transform: scale(1.2);
                    transition: 0.2s;
                }
            }
        }
        
    }
}

.products-amount {
    width: 100%;
    text-align: center;
    margin-top: 5rem;

    p {
        font-weight: 300;
    }

    .product-label, .product-label-search {
        font-weight: 500;
    }
}

.product-container {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem;
    overflow: hidden;

    .watermark {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 500px;
        transform: translateY(-10%);
        z-index: -10000;
        opacity: 0.5;
        color: var(--white);
    }

    > *:nth-child(1) {
        flex: 1 1 30%;
    }
    > *:nth-child(2) {
        flex: 1 1 70%;
    }

    .product-category-container {

        h2 {
            font-weight: 100;
            text-transform: uppercase;
            position: relative;
        }

        p {
            margin: 1rem 0;
            font-size: 1.5rem;
            font-weight: 200;
            letter-spacing: 2px;

            &:hover, &:focus {
                font-weight: 500;
            }

            a {
                position: relative;
                color: var(--primary-brown);

                .fa-square {
                    margin-right: 0.5rem;
                }

                .fa-check {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: scale(1.5);
                }
            }
        }

        hr {
            width: 50%;
        }
    }

    .product-item-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 10px;
    
        .product-card {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            .product-card-image {
                // position: relative;
                // width: 100%;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
    
                img {
                    // position: absolute;
                    // top: 0;
                    // left: 0;
                    // height: 100%;
                    height: 250px;
                    // width: 100%;
                    display: block;
                    // aspect-ratio: 16/9;
                    object-fit: contain;
                    transform: scale(0.75);
                    transition: 0.5s;
                    box-shadow: 0px 20px 50px 0px var(--primary-brown);

                    &:hover {
                        transform: scale(0.9);
                        transition: 0.3s;
                    }
                }
            }
    
            .product-card-content {
                display: flex;
                flex-direction: column;
                flex: 1 0 auto;
                justify-content: space-between;
                align-items: center;
    
                .product-card-title {
                    
                    h3 {
                        font-size: 1rem;
                        font-weight: 600;
                        color: var(--primary-brown);
                        margin-top: 0;
                        text-align: center;
                    }
                }
    
                .product-price {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
    
                    h2 {
                        font-size: 1.5rem;
                        margin: 0;
                        font-weight: 200;
                    }
    
                    .product-rating {
    
                        h4 {
                            font-size: 0.8rem;
                        }
                    }
                }

                .individual-category, .individual-woodtype {
                    font-size: 0.8rem;
                }

                .global-button {
                    padding: 0.5rem 1rem;
                    margin-top: 1rem;
                    box-shadow: 0px 2px 2px 0px var(--primary-brown);
                    text-transform: lowercase;
                }
            }
        }
    }
}

// Product detail page

.product-card-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    form {

        p {
            height: 100px;
            // https://www.cssportal.com/style-input-range/ used for range slider css
            input[type=range] {
                height: 60px;
                -webkit-appearance: none;
                margin: 10px 0;
                width: 100%;
              }
              input[type=range]:focus {
                outline: none;
              }
              input[type=range]::-webkit-slider-runnable-track {
                width: 100%;
                height: 5px;
                cursor: pointer;
                animate: 0.2s;
                box-shadow: 0px 0px 0px #361C15;
                background: #361C15;
                border-radius: 0px;
                border: 0px solid #361C15;
              }
              input[type=range]::-webkit-slider-thumb {
                box-shadow: 2px 2px 0px #361C15;
                border: 2px solid #361C15;
                height: 50px;
                width: 50px;
                border-radius: 0px;
                background: #E66C4E;
                cursor: pointer;
                -webkit-appearance: none;
                margin-top: -23.5px;
              }
              input[type=range]:focus::-webkit-slider-runnable-track {
                background: #361C15;
              }
              input[type=range]::-moz-range-track {
                width: 100%;
                height: 5px;
                cursor: pointer;
                animate: 0.2s;
                box-shadow: 0px 0px 0px #361C15;
                background: #361C15;
                border-radius: 0px;
                border: 0px solid #361C15;
              }
              input[type=range]::-moz-range-thumb {
                box-shadow: 2px 2px 0px #361C15;
                border: 2px solid #361C15;
                height: 50px;
                width: 50px;
                border-radius: 0px;
                background: #E66C4E;
                cursor: pointer;
              }
              input[type=range]::-ms-track {
                width: 100%;
                height: 5px;
                cursor: pointer;
                animate: 0.2s;
                background: transparent;
                border-color: transparent;
                color: transparent;
              }
              input[type=range]::-ms-fill-lower {
                background: #361C15;
                border: 0px solid #361C15;
                border-radius: 0px;
                box-shadow: 0px 0px 0px #361C15;
              }
              input[type=range]::-ms-fill-upper {
                background: #361C15;
                border: 0px solid #361C15;
                border-radius: 0px;
                box-shadow: 0px 0px 0px #361C15;
              }
              input[type=range]::-ms-thumb {
                margin-top: 1px;
                box-shadow: 2px 2px 0px #361C15;
                border: 2px solid #361C15;
                height: 50px;
                width: 50px;
                border-radius: 0px;
                background: #E66C4E;
                cursor: pointer;
              }
              input[type=range]:focus::-ms-fill-lower {
                background: #361C15;
              }
              input[type=range]:focus::-ms-fill-upper {
                background: #361C15;
              }

              input[type=range]+.thumb {
                  display: none;
              }

              input[type=range] {
                border: none;
              }
                
        }

        .add-to-bag-buttons {

            display: flex;

            a, input {
                margin: 0;
            }

            a + input {
                margin-left: 1rem;
                background: none;
                color: var(--primary-orange);
                box-shadow: 0.5rem 0.5rem 0 0 var(--primary-brown);

                &:hover, :focus {
                    box-shadow: none;
                    transition: 0.5s;
                }
            }
        }
    }
}

// Bag page

.bag-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

    .bag-table {
        margin-top: 5rem;
        padding: 2rem;
        box-shadow: 20px 20px 20px 0 var(--primary-brown);
        background: var(--white);
        .free-delivery {
            font-weight: 100;
            font-style: italic;
            margin-bottom: 1rem;
            span {
                font-weight: 500;
                color: red;
            }

            .delivery-threshold {
                text-decoration: underline;
            }
        }
        table {

            tr {
                border: none;
            }

            thead {
                background: var(--secondary-brown);
            }

            th {
                border-radius: 0;
            }
            .product-td {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            td {
                vertical-align: top;
            }
        }
    }

    .bag-subtotal {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .bag-buttons {

            display: flex;

            a + a {
                margin-left: 1rem;
                height: 50%;
                background: none;
                color: var(--primary-orange);
                box-shadow: 0.5rem 0.5rem 0 0 var(--primary-brown);

                &:hover, :focus {
                    box-shadow: none;
                    transition: 0.5s;
                }
            }
        }
    }

    .empty-bag {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            font-size: 3rem;
            font-weight: 200;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
    }
}

// Profile page

.profile-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;

    > .profile-nav {
        flex: 1 1 30%;
        background: red;

        ul {
            display: flex;
            flex-direction: column;
        }
    }
    > .profile-section {
        flex: 1 1 70%;
        background: green;
    }
}


// Footer

.page-footer {
    background: var(--primary-brown);
}