@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --primary-brown: #361C15;
  --secondary-brown: #D2B48C;
  --primary-orange: #E66C4E;
  --primary-cream: #FFF5EF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--primary-cream);
  font-family: "Poppins", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
body main {
  flex: 1 0 auto;
}
body main .home-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
}
body main .home-container section {
  min-height: 100vh;
}
body main .home-container #home-landing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
body main .home-container #home-landing .home-landing-section {
  border: 1px solid black;
}
body main .home-container #home-about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
body main .home-container #home-about .home-about-section {
  border: 1px solid black;
}
body main .home-container #home-blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
body main .home-container #home-blog .home-blog-posts {
  border: 1px solid black;
}
body main .home-container #home-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
body main .home-container #home-products .home-products-section {
  border: 1px solid black;
}
body main .home-container #home-woodtype {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
body main .home-container #home-woodtype .home-woodtype-section {
  border: 1px solid black;
}

nav {
  background: var(--primary-brown);
}

.category-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin: 5rem;
}
.category-container .category-type-section {
  border: 1px solid black;
}

.filter-wood {
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  background: var(--primary-brown);
  color: var(--primary-cream);
  cursor: pointer;
  border: none;
  display: block;
  margin: 0 auto;
}
.filter-wood i {
  margin-right: 0.5rem;
}
.filter-wood:focus {
  background: var(--secondary-brown);
}

#wood-filter-side-filter .sidenav {
  background-color: var(--secondary-brown);
}
#wood-filter-side-filter img {
  width: 100%;
}
#wood-filter-side-filter h4 {
  text-transform: uppercase;
  text-align: center;
  margin: 1.5rem 0;
}
#wood-filter-side-filter .wood-type-link {
  padding: 0.5rem;
  transition: 0.4s;
}
#wood-filter-side-filter .wood-type-link:hover {
  transition: 0.4s;
  transform: translateX(1rem);
}
#wood-filter-side-filter .wood-type-link a {
  color: var(--primary-brown);
}
#wood-filter-side-filter .wood-type-link a i {
  margin-right: 0.5rem;
}
#wood-filter-side-filter .wood-type-link a i:hover {
  background: var(--primary-brown);
  transform: scale(1.2);
  transition: 0.2s;
}

.products-amount {
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}
.products-amount p {
  font-weight: 300;
}
.products-amount .product-label {
  font-weight: 500;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
}
.product-container > *:nth-child(1) {
  flex: 1 1 30%;
}
.product-container > *:nth-child(2) {
  flex: 1 1 70%;
}
.product-container .product-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.product-container .product-item-container .product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-container .product-item-container .product-card .product-card-image img {
  height: 300px;
  width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-container .product-item-container .product-card .product-card-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: space-between;
}
.product-container .product-item-container .product-card .product-card-content .product-card-title h3 {
  font-size: 1.5rem;
  color: var(--primary-brown);
}
.product-container .product-item-container .product-card .product-card-content .product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-container .product-item-container .product-card .product-card-content .product-price h2 {
  font-size: 1rem;
}
.product-container .product-item-container .product-card .product-card-content .product-price .product-rating h4 {
  font-size: 0.8rem;
}

.page-footer {
  background: var(--primary-brown);
}/*# sourceMappingURL=base.css.map */