@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --primary-brown: #361C15;
    --secondary-brown: #D2B48C;
    --primary-orange: #E66C4E;
    --primary-cream: #FFF5EF;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--secondary-brown);
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    main {
        flex: 1 0 auto;

        .home-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));

            section {
                min-height: 100vh;
            }

            #home-landing {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

                .home-landing-section {
                    border: 1px solid black;
                }
            }
            #home-about {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

                .home-about-section {
                    border: 1px solid black;
                }
            }
            #home-blog {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

                .home-blog-posts {
                    border: 1px solid black;
                }
            }
            #home-products {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

                .home-products-section {
                    border: 1px solid black;
                }
            }
            #home-woodtype {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

                .home-woodtype-section {
                    border: 1px solid black;
                }
            }
        }
    }
}

// Navbar

nav {
    background: var(--primary-brown);
}

// Categories Page

.category-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 10px;

    .category-type-section {
        border: 1px solid black;
    }
}

// Footer

.page-footer {
    background: var(--primary-brown);
}