{% extends 'base.html' %}

{% block page_header %}
  Ideas, latest sticks and works in progress
{% endblock %}

{% block page_header_paragraph %}
  Blog <i class="fas fa-caret-right"></i> <span>Add Blog</span>
{% endblock %}

{% block content %}

<div class="edit-blog-container">
  <h2>Add a new blog post:</h2>
    <form action="{% url 'add_blog' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ blog_form }}
        <button class="global-button" type="submit">Add Blog</button>
    </form>
</div>
{% endblock %}