{% extends 'base.html' %}

{% block page_header %}
  Ideas, latest sticks and works in progress
{% endblock %}

{% block page_header_paragraph %}
<a href="{% url 'blog' %}">Blog</a> <i class="fas fa-caret-right"></i> <span>{{ post.title|truncatechars:20 }}</span>
{% endblock %}

{% block content %}

<div class="blog-post-container">
    {% if post %}
    <div class="blog-post-content">
        <div class="blog-post-title">
            <p>
                <a href="{% url 'like_post' post.id %}">
                    {% if request.user.is_authenticated %}
                        {% if liked %}
                        <i class="fas fa-thumbs-up"></i>
                        {% else %}
                        <i class="far fa-thumbs-up"></i>
                        {% endif %}
                    {% else %}
                    <i class="fas fa-thumbs-up"></i>
                    {% endif %}
                </a> 
                {{ post.like_count }}
            </p>
            <h2>{{ post.title }}</h2>
            
        </div>
        <div class="blog-post-author">
            <h5>{{ post.date }} <span>by {{ post.author }}</span></h5>
        </div>

        <div class="blog-post-image">
            {% if post.image %}
                <img class="materialboxed" src="{{ post.image.url }}" alt="image-for-{{ post.title }}">
            {% else %}
                <img src="{{ MEDIA_URL }}noimage.png">
            {% endif %}
        </div>

        <p class="blog-post-body">{{ post.body }}</p>
        {% if request.user.is_superuser %}
            <div class="blog-post-admin">
                <a href="{% url 'edit_blog' post.id %}">Edit</a>
                <!-- Modal Trigger -->
                <a class="modal-trigger" href="#{{ post.id }}-{{ post.title }}">Delete</a>
                <!-- Modal Structure -->
                <div id="{{ post.id }}-{{ post.title }}" class="modal">
                    <div class="modal-content">
                        <p>{{ post.title }}</p>
                        <p>Are you sure you want to delete?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close global-button">Cancel</a>
                        <a href="{% url 'delete_blog' post.id %}" class=" global-button">Delete <i class="fas fa-trash"></i></a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="blog-post-comments-form">
        <form action="{% url 'blog_post' post.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form }}
            <button class="global-button" type="submit">Post Comment</button>
        </form>
    </div>

    <div class="blog-post-comments">
        {% if post.comment_set.all|length > 0 %}
            {% for comment in post.comment_set.all %}
            <div class="blog-comment-section">
                <h2><i class="fas fa-user"></i> {{ comment.user }} <span>posted on: {{ comment.date }}</span></h2>
                <blockquote>{{ comment.body }}</blockquote>
                {% if request.user == comment.user %}
                    <div class="blog-post-comment-edit">
                        <a href="{% url 'edit_comment' comment.id %}">Edit</a>
                        <!-- Modal Trigger -->
                        <a class="modal-trigger" href="#{{ comment.id }}-{{ comment.post.title }}">Delete</a>
                        <!-- Modal Structure -->
                        <div id="{{ comment.id }}-{{ comment.post.title }}" class="modal">
                            <div class="modal-content">
                                <p>Comment on: {{ post.title }}</p>
                                <p>Are you sure you want to delete?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close global-button">Cancel</a>
                                <a href="{% url 'delete_comment' comment.id %}" class=" global-button">Delete <i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
            <p>No comments yet...</p>
        {% endif %}

    </div>
    {% endif %}
</div>
{% endblock %}