{% extends 'base.html' %}

{% block page_header %}
  Ideas, latest sticks and works in progress
{% endblock %}

{% block page_header_paragraph %}
<span>Blog</span>
{% endblock %}

{% block content %}

<div class="blog-container">
    {% for post in posts %}
    <a href="{% url 'blog_post' post.id %}">
        <div class="blog-card">
            <div class="blog-image">
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="">
                {% else %}
                    <img src="{{ MEDIA_URL }}noimage.png">
                {% endif %}
            </div>
            <div class="blog-content">
                <div class="blog-title">
                <h3>{{ post.title }}</h3>
                <p>{{ post.comment_set.all|length }} comment/s</p>
                </div>
                <div class="blog-author">
                <h2>By: {{ post.author }}</h2>
                <div class="blog-date">
                    <h4>{{ post.date }}</h4>
                </div>
                </div>
                <p class="blog-body">{{ post.body|truncatewords:10 }}</p>
            </div>
            </div>
    </a>
    {% endfor %}
</div>
{% endblock %}