{% extends 'base.html' %}

{% block content %}

<div class="blog-container">
    {% if post %}
        <div class="blog-card">
            {% if request.user.is_superuser %}
                <a href="{% url 'edit_blog' post.id %}">Edit</a>
                <a href="{% url 'delete_blog' post.id %}">Delete</a>
            {% endif %}
            <div class="blog-image">
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="">
                {% else %}
                    <img src="{{ MEDIA_URL }}noimage.png">
                {% endif %}
            </div>
            <div class="blog-content">
                <div class="blog-title">
                <h3>{{ post.title }}</h3>
                </div>
                <div class="blog-author">
                <h2>By: {{ post.author }}</h2>
                <div class="blog-date">
                    <h4>{{ post.date }}</h4>
                </div>
                </div>
                <p class="blog-body">{{ post.body }}</p>
            </div>
            <div>
                <div>
                <h3>Comments</h3>
                </div>
                {% if post.comment_set.all|length > 0 %}
                    {% for comment in post.comment_set.all %}
                    <div>
                        <h2>By: {{ comment.user }}</h2>
                        <div >
                            <h4>{{ comment.date }}</h4>
                        </div>
                        <p>{{ comment.body }}</p>
                        {% if request.user == comment.user %}
                            <a href="{% url 'edit_comment' comment.id %}">Edit</a>
                            <a href="{% url 'delete_comment' comment.id %}">Delete</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No comments yet...</p>
                {% endif %}
                <div>
                    <form action="{% url 'blog_post' post.id %}" method="POST">
                        {% csrf_token %}
                        {{ comment_form }}
                        <button type="submit">Post Comment</button>
                    </form>
                </div>
            </div>
            </div>
    {% endif %}
</div>
{% endblock %}