{% extends 'base.html' %}

{% block page_header %}
  Ideas, latest sticks and works in progress
{% endblock %}

{% block page_header_paragraph %}
  Blog <i class="fas fa-caret-right"></i> <span>Edit Comment</span>
{% endblock %}

{% block content %}

<div>
    <p>{{ comment.user }}</p>
    <p>{{ comment.date }}</p>
    <p>{{ comment.post }}</p>
    <form action="{% url 'edit_comment' comment.id %}" method="POST">
        {% csrf_token %}
        {{ comment_form }}
        <button type="submit">Edit Comment</button>
    </form>
</div>
{% endblock %}