{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block page_header %}
  All wood used is sustainable and ethically sourced
{% endblock %}

{% block page_header_paragraph %}
  <span>Set Password</span>
{% endblock %}

{% block content %}
    <div class="allauth-inner-content">
        <h1>{% trans "Set Password" %}</h1>
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="global-button" type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
{% endblock %}
