{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block core_css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <title>Dragon Egg Woodturning {% block extra_title%}{% endblock %}</title>
  </head>
  <body>
    <!-- Main Navbar -->
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="#">About</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="{% url 'all_products' %}">Products</a></li>
              <li><a href="{% url 'all_categories' %}">Categories</a></li>
              {% if request.user.is_authenticated %}
                <li><a href="{% url 'profile' %}" >My Profile</a></li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
              {% else %}
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_signup' %}">Register</a></li>
              {% endif %}
              <li><a href="{% url 'view_bag' %}"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- Mobile Nav -->
      <ul class="sidenav" id="mobile-demo">
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="{% url 'all_products' %}">Products</a></li>
        <li><a href="{% url 'all_categories' %}">Categories</a></li>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'profile' %}" >My Profile</a></li>
          <li><a href="{% url 'account_logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'account_login' %}">Login</a></li>
          <li><a href="{% url 'account_signup' %}">Register</a></li>
        {% endif %}
        <li><a href="{% url 'view_bag' %}"><i class="fas fa-shopping-cart"></i></a></li>
      </ul>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}
    <main>
    {% block content %}
    {% endblock %}
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2021 Copyright Text
        <a class="grey-text text-lighten-4 right" href="https://www.facebook.com/" target="_blank"><i
          class="fab fa-facebook-square"></i></a>
      <a class="grey-text text-lighten-4 right" href="https://www.instagram.com/" target="_blank"><i
          class="fab fa-instagram-square"></i></a>
      <a class="grey-text text-lighten-4 right" href="https://www.twitter.com/" target="_blank"><i
          class="fab fa-twitter-square"></i></a>
        </div>
      </div>
    </footer>

    {% block core_js %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    {% block postload_js %}
    {% endblock %}
  </body>
</html>