{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block core_css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block extra_css %}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% endblock %}
        

    <title>Dragon Egg Woodturning {% block extra_title%}{% endblock %}</title>
  </head>
  <body class="post-load">
    <div class="loading">
      <h1>loading...</h1>
    </div>
    <!-- Main Navbar -->
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo"> 
              Dragon Egg Woodturning
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'blog' %}">Blog</a></li>
              <li class="shop-now-link"><a href="{% url 'all_products' %}">Shop</a></li>
              <li><a href="{% url 'all_categories' %}">Categories</a></li>
              {% if request.user.is_authenticated %}
                <li><a href="{% url 'profile' %}" ><i class="fas fa-user"></i></a></li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
              {% else %}
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_signup' %}">Register</a></li>
              {% endif %}
              <li class="shopping-cart-link">
                <a href="{% url 'view_bag' %}"><i class="fas fa-shopping-cart"></i></a>
                {% if grand_total %}
                  <div class="shopping-cart-icon">{{ product_count }}</div>
                {% endif %}
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- Mobile Nav -->
      <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'all_products' %}">Shop</a></li>
        <li><a href="{% url 'all_categories' %}">Categories</a></li>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'profile' %}" ><i class="fas fa-user"></i></a></li>
          <li><a href="{% url 'account_logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'account_login' %}">Login</a></li>
          <li><a href="{% url 'account_signup' %}">Register</a></li>
        {% endif %}
        <li class="shopping-cart-link">
          <a href="{% url 'view_bag' %}"><i class="fas fa-shopping-cart"></i></a>
          {% if grand_total %}
            <div class="shopping-cart-icon">{{ product_count }}</div>
          {% endif %}
        </li>
      </ul>
    </header>

    {% if messages %}
    <div class="message-container">
      {% for message in messages %}
      {% with message.level as level %}
      {% if level == 40 %}
          {% include 'includes/toasts/toast_error.html' %}
      {% elif level == 30 %}
          {% include 'includes/toasts/toast_warning.html' %}
      {% elif level == 25 %}
          {% include 'includes/toasts/toast_success.html' %}
      {% else %}
          {% include 'includes/toasts/toast_info.html' %}
      {% endif %}
      {% endwith %}
      {% endfor %}
    </div>
    {% endif %}

    <div class="header-about-section">
      <div class="opaque-overlay">&nbsp;</div>
      <div class="header-about-info">
        <h3>{% block page_header %}{% endblock %}</h3>
        <p><a href="{% url 'home' %}">Home</a> <i class="fas fa-caret-right"></i> {% block page_header_paragraph %}{% endblock %}</p>
      </div>
      <img src="{{ MEDIA_URL }}background-image-2.jpeg" alt="">
  </div>

    <main class="main-section">
    {% block content %}
    {% endblock %}
    <section class="home-gallery">
      <div class="gallery-images-section">
        <div class="gallery-column">
          <!-- <div> -->
            <img src="{{ MEDIA_URL }}wood-gallery-1.PNG" alt="">
          <!-- </div> -->
          <!-- <div> -->
            <img src="{{ MEDIA_URL }}wood-gallery-2.PNG" alt="">
          <!-- </div> -->
          <!-- <div> -->
            <img src="{{ MEDIA_URL }}wood-gallery-3.PNG" alt="">
          <!-- </div> -->
          <!-- <div> -->
            <img src="{{ MEDIA_URL }}wood-gallery-4.PNG" alt="">
          <!-- </div> -->
        </div>
      </div>
    </section>
    <section class="site-information">
      <div class="site-information-container">
        <div class="site-info-content">
          <h3>Unique hand-crafted sticks</h3>
          <p>Buying one of my hand-made walking sticks means owning a unique item. Each one is designed and made by me in
            my workshop in rural Bedfordshire and as far as I am aware no-one else on planet Earth makes sticks like mine.
          </p>
        </div>
        <div class="site-info-content">
          <h3>Making the sticks</h3>
          <p>The process of making a stick takes up to three weeks and each stick is guaranteed to be one of a kind. I
            will make sticks that are similar, but each individual stick has a character all its own.</p>
            <p>The shafts of the sticks are made from sustainably sourced hardwoods from around the world and are finished with either varnish or high quality wax polish.</p>
            <p>The handles come in different shapes and styles and again are made from sustainably sourced hardwoods or
              rosewoods. Each handle is turned by me and finished to the same exacting standards I apply to the shafts.
            </p>
            <p>The handles are secured to the shafts using a stainless steel rod.</p>
        </div>
          <div class="site-info-content">
            <h3>I can make to order </h3>
            <p>Sticks can usually be made to order if you would like a particular timber, subject to availability of the
              wood. I would need at least 4 weeks’ notice to make a bespoke stick as the materials have to be very
              carefully sourced and prepared before I can start making. Please contact me for details.</p>
          </div>
          <div class="site-info-content">
            <h3>Unique and useful - for yourself or for a loved one</h3>
            <p>These unique walking sticks are both an aid to walking or hiking and a talking point with those you meet on
              the highways and byways. They are also an heirloom ready to be passed down to the next generation. Each
              stick will be carefully packaged and delivered free of charge to any UK mainland address. Please contact me
              for delivery options elsewhere.</p>
          </div>
      </div>
    </section>
    <section class="home-about">
      <div class="home-about-section">
          <div class="opaque-overlay">&nbsp;</div>
          <div class="home-about-info">
              <h2>30+ exotic and indigenous timbers</h2>
              <p>All wood used is sustainable and ethically sourced</p>
              <a class="global-button" href="http://">Read More</a>
          </div>
          <img src="{{ MEDIA_URL }}background-image.jpeg" alt="">
      </div>
    </section>
    <section id="home-newsletter">
      <div class="newsletter-image">
        <img src="{{ MEDIA_URL }}wood-type-1.PNG" alt="">
      </div>
      <div class="newsletter-form">
        <h4>Stay Updated</h4>
        <p>Sign up to our newsletter to receive updates</p>
        <form action="{% url 'subscribe' %}" method="POST">
          {% csrf_token %}
          {{ subscribers_form }}
          <button class="global-button" type="submit">Join</button>
        </form>
      </div>
    </section>
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2021 Copyright Text
        <a class="grey-text text-lighten-4 right" href="https://www.facebook.com/" target="_blank"><i
          class="fab fa-facebook-square"></i></a>
      <a class="grey-text text-lighten-4 right" href="https://www.instagram.com/" target="_blank"><i
          class="fab fa-instagram-square"></i></a>
      <a class="grey-text text-lighten-4 right" href="https://www.twitter.com/" target="_blank"><i
          class="fab fa-twitter-square"></i></a>
        </div>
      </div>
    </footer>

    {% block core_js %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    {% block postload_js %}
    {% endblock %}
  </body>
</html>