{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Search functionality -->
<section>
  <form method="GET" action="{% url 'all_products' %}">
    <div class="input-field">
      <input id="search" type="search" name="query" placeholder="Search..." required>
      <i class="material-icons fas fa-times"></i>
      <button type="submit">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
</section>

<button data-target="slide-out" class="sidenav-trigger filter-wood"><i class="fas fa-filter"></i>Filter by Wood Type</button>

<section>
  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    {% for wood in wood_types %}
    <p><a href="{% url 'all_products' %}?wood={{ wood.id }}">View all {{ wood.friendly_name }} here</a></p>
    {% endfor %}
</section>

{% for category in current_categories %}
<p>{{ category.name }}</p>
{% endfor %}
{% for wood in wood_results %}
<p>{{ wood.name }}</p>
{% endfor %}

<div class="category-container">
    <p>{{ products|length }}</p>
    {% for product in products %}
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            {% if product.image_set.all|length > 0 %}
              <img src="{{ product.image_set.first.image.url }}" alt="">
              {% for image in product.image_set.all %}
              <img class="activator" src="{{ image.image.url }}">
              {% endfor %}
            {% else %}
              <img class="activator" src="{{ MEDIA_URL }}noimage.png">
            {% endif %}
        </div>
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">{{ product.name }}</span>
          <p class="activator">Read More</p>
          <p>£ {{ product.price }}</p>
          <p>£ {{ product.sku }}</p>
          <p>{{ product.category.friendly_name }}</p>
          {% if product.rating %}
                <p>{{ product.rating }}</p>
            {% else %}
                <p>No ratings yet.</p>
            {% endif %}
            <p><a href="{% url 'product_detail' product.id %}">View Product</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="fas fa-times right"></i></span>
          <p>{{ product.description }}</p>
          {% for woodtype in product.wood_type.all %}
            <p>{{ woodtype.friendly_name }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}