{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="category-container">
    {% for category in categories %}
    <div class="category-card"><a href="{% url 'all_products' %}?category={{ category.id }}">
        <div class="category-card-image">
          {% if category.image %}
              <img class="responsive-img" src="{{ category.image.url }}" alt="">
          {% else %}
              <img class="responsive-img" src="{{ MEDIA_URL }}noimage.png">
          {% endif %}
        </div>
        <div class="category-content">
          <span class="category-title">{{ category.friendly_name }}</span>
          <p>{{ category.product_set.all|length}} products</p>
          {% if category.on_sale %}
          <p>ON SALE {{ category.on_sale_amount }}</p>
          {% else %}
          <p>NOT! ON SALE</p>
          {% endif %}
        </div></a>
      </div>
    {% endfor %}
</div>
{% endblock %}