{% extends 'base.html' %}
{% load static %}

{% block page_header %}
  Unique gifts for every occasion
{% endblock %}

{% block page_header_paragraph %}
  <span class="product-heading-title"></span>
{% endblock %}

{% block search_section %}
<section id="wood-filter-side-filter">
  <div id="slide-out" class="sidenav">
      <div class="background">
        <img src="{{ MEDIA_URL }}wood-type-1.PNG">
      </div>
      <div>
        <h4>Wood Type</h4>
        {% for wood in wood_types %}
        <p class="wood-type-link"><a href="{% url 'all_products' %}?wood={{ wood.id }}"><i class="far fa-square"></i>{{ wood.friendly_name }}</p></a>
        {% endfor %}
      </div>
  </div>
</section>
{% endblock %}

{% block content %}
<!-- Search functionality -->
<section class="search-section">
  <form method="GET" action="{% url 'all_products' %}">
    <div class="input-field">
      <input id="search" type="search" name="query" placeholder="Search Products..." required>
      <button class="global-button" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
</section>

<button data-target="slide-out" class="sidenav-trigger filter-wood"><i class="fas fa-filter"></i>Filter by Wood Type</button>



<div class="products-amount">
  <div class="products-location">
    {% if products|length == total_products|length %}
    <p>{{ products|length }} products | <span class="product-label">All Products</span></p>
    {% else %}
    <p>{{ products|length }} products |
      {% for category in current_categories %}
      <span class="product-label">{{ category.friendly_name }}</span>
    {% endfor %}
    {% for wood in wood_results %}
      <span class="product-label">{{ wood.friendly_name }}</span>
    {% endfor %}
    {% if search_term %}
      <span class="product-label-search"> Found with search "{{ search_term }}"</span>
    {% endif %}
    </p>
    {% endif %}
  </div>
  <div class="sort-box">
    <select id="sort-key" class="browser-default">
      <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
      <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
      <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
      <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
      <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
      <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
      <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
      <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
      <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
  </select>
  </div>
</div>


<div class="product-container">
  <div class="product-category-container">
    <h2> Choose from:</h2>
    <p class="category-names"><a href="{% url 'all_products' %}"><i class="far fa-square"></i><i class="fas fa-check hide"></i>All Products</a></p>
    {% for category in all_categories %}
    <p class="category-names"><a href="{% url 'all_products' %}?category={{ category.id }}"><i class="far fa-square"></i><i class="fas fa-check hide"></i>{{ category.friendly_name }}</a></p>
    {% endfor %}
  </div>
    <div class="product-item-container">
    {% for product in products %}
    <div class="product-card">
        <div class="product-card-image">
            {% if product.image_set.all|length > 0 %}
              <img src="{{ product.image_set.first.image.url }}" alt="">
            {% else %}
              <img src="{{ MEDIA_URL }}noimage.png">
            {% endif %}
        </div>
        <div class="product-card-content">
          <div class="product-card-title">
            <h3>{{ product.name }}</h3>
          </div>
          <div class="product-price">
            <div class="product-rating">
              {% if product.rating %}
              <h4>{{ product.rating }} <i class="fas fa-star"></i></h4>
              {% else %}
              <h4>No ratings yet</h4>
              {% endif %}
              <p>{{ product.review_set.all|length }} review/s</p>
            </div>
            {% if product.final_price %}
              {% if product.discounted %}
                <h2>£<span style="text-decoration: line-through;">{{ product.price}}</span> {{ product.final_price }}</h2>
              {% else %}
                <h2>£{{ product.final_price }}</h2>
              {% endif %}
            {% else %}
                <h2>£ {{ product.price }}</h2>
            {% endif %}
            
          </div>
          <p class="individual-category"><i class="fas fa-sort"></i> | {{ product.category.friendly_name }}</p>
          {% for woodtype in product.wood_type.all %}
            <p class="individual-woodtype"><i class="fas fa-tag"></i> | {{ woodtype.friendly_name }}</p>
          {% endfor %}
          <a class="global-button" href="{% url 'product_detail' product.id %}">View Product</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
 const categories = document.querySelectorAll('.category-names')
 const label = document.querySelectorAll('.product-label')
 const productContainer = document.querySelector('.product-container')
 const productHeadingTitle = document.querySelector('.product-heading-title')

// Add dynamic watermark
 function addWatermark() {
    const watermark = document.createElement('p')
    const text = document.createTextNode(label[0].textContent)
    watermark.append(text)
    watermark.classList.add('watermark')
    productContainer.append(watermark)
 }
 addWatermark()
// Display check for current category
 categories.forEach(category => {
   if (label[0].textContent === category.textContent) {
     category.children[0].children[1].classList.remove('hide')
     category.style.fontWeight = 500
     productHeadingTitle.textContent = category.textContent
   }
 })

 //  Sorting
    const sortKey = document.getElementById('sort-key')
    const url = new URL(window.location.href)

    sortKey.addEventListener('change', (e) => {
    const selected = e.srcElement.value
    if (selected != 'reset') {
      const sort = selected.split("_")[0]
      const direction = selected.split("_")[1]

      url.searchParams.set('sort', sort)
      url.searchParams.set('direction', direction)
      window.location.replace(url)
    } else {
        url.searchParams.delete("sort")
        url.searchParams.delete("direction")
        window.location.replace(url)
    }
   })
</script>
{% endblock %}