{% extends 'base.html' %}
{% load static %}

{% block page_header %}
  All wood used is sustainable and ethically sourced
{% endblock %}

{% block page_header_paragraph %}
  <span>{{ product.name }}</span>
{% endblock %}

{% block content %}
<div class="edit-blog-container">
  <h2>Editing Images: <span>Add images to {{ product.name }}</span></h2>
  <div class="add_product_image_container">
    <form action="{% url 'edit_product_images' product.id %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ image_form }}
      <button class="global-button" type="submit">Add Images</button>
    </form>
  </div>
  <div class="edit_product_images_container">
    {% for image in images %}
        <div>
          <img class="materialboxed" src="{{ image.image.url }}" alt="product-{{ image.product.name }}">
            <!-- Modal Trigger -->
            <a class="modal-trigger" href="#{{ image.id }}-{{ image.product.name }}">Delete <i class="fas fa-trash"></i></a>
            <!-- Modal Structure -->
            <div id="{{ image.id }}-{{ image.product.name }}" class="modal">
              <div class="modal-content">
                <p>Image for - {{ image.product.name }}</p>
                <p>Are you sure you want to delete?</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close global-button">Cancel</a>
                <a href="{% url 'delete_product_images' image.id %}" class="global-button">Delete <i class="fas fa-trash"></i></a>
              </div>
            </div>
        </div>
    {% endfor %}
  </div>
</div>
{% endblock %}