{% extends 'base.html' %}
{% load static %}

{% block page_header %}
  All wood used is sustainable and ethically sourced
{% endblock %}

{% block page_header_paragraph %}
  <span>Editing review for - {{ review.product }}</span>
{% endblock %}

{% block content %}
<div>
    <h5>Editing review for - {{ review.product }}</h5>
    <form action="{% url 'edit_review' review.id %}" method="POST">
        {% csrf_token %}
        {{ review_form }}
        <button type="submit">Edit Review</button>
    </form>
</div>
{% endblock %}