{% extends 'base.html' %}
{% load static %}

{% block page_header %}
  All wood used is sustainable and ethically sourced
{% endblock %}

{% block page_header_paragraph %}
  <span>{{ product.name }}</span>
{% endblock %}

{% block content %}
<div class="edit-blog-container">
    <h2>Editing product:<span>* {{ product.name }} *</span></h2>
    <form action="{% url 'edit_product' product.id %}" method="POST">
        {% csrf_token %}
        <table class="global-table">
          {{ product_form }}
        </table>
        <button class="global-button" type="submit">Edit Product</button>
    </form>
</div>
{% endblock %}