{% extends 'base.html' %}
{% load static %}

{% block page_header %}
  All wood used is sustainable and ethically sourced
{% endblock %}

{% block page_header_paragraph %}
  {{ product.category.friendly_name }} <i class="fas fa-caret-right"></i> <span>{{ product.name|truncatechars:20 }}</span>
{% endblock %}

{% block content %}
<div class="product-container product-detail-container">
  <div class="product-item-container">
    <div class="product-card">
      <div class="product-card-image">
          {% if product.image_set.all|length > 0 %}
          <div class="product-image-slider">
            <!-- <img class="materialboxed product-image-slider" src="{{ product.image_set.first.image.url }}" alt=""> -->
            {% for image in product.image_set.all %}
            <img class="materialboxed" src="{{ image.image.url }}" alt="">
            {% endfor %}
          </div>
          {% else %}
            <img src="{{ MEDIA_URL }}noimage.png">
          {% endif %}
      </div>
      {% if product.image_set.all|length > 1 %}
      <p class="progress-scroll-text">Scroll to view images</p>
      <div class="progress-bar"></div>
      {% endif %}
      <div class="product-card-content">
        <div class="product-card-title">
          <h3>{{ product.name }}</h3>
        </div>
        <div class="product-price">
          <div class="product-rating">
            {% if product.rating %}
            <h4>{{ product.rating }} <i class="fas fa-star"></i></h4>
            {% else %}
            <h4>No ratings yet</h4>
            {% endif %}
            <p>| {{ product.review_set.all|length }} review/s</p>
          </div>
          {% if product.final_price %}
            {% if product.discounted %}
              <h2>£<span style="text-decoration: line-through;">{{ product.price}}</span> {{ product.final_price }}</h2>
              {% else %}
              <h2>£{{ product.final_price }}</h2>
              {% endif %}
          {% else %}
              <h2>£ {{ product.price }}</h2>
          {% endif %}
          {% if request.user.is_superuser %}
          <form action="{% url 'add_discount' product.id %}" method="POST">
            {% csrf_token %}
            {{ discount_form }}
            <button class="global-button" type="submit">Add discount</button>
          </form>
          {% endif %}
        </div>
        <p class="individual-category"><i class="fas fa-sort"></i> | {{ product.category.friendly_name }}</p>
        {% for woodtype in product.wood_type.all %}
          <p class="individual-woodtype"><i class="fas fa-tag"></i> | {{ woodtype.friendly_name }}</p>
        {% endfor %}
      </div>
    </div>
      <div class="product-card-description">
        <p class="product-information"><i class="fas fa-info-circle"></i>{{ product.description }}</p>
        <form action="{% url 'add_to_bag' product.id %}" method="POST">
          {% csrf_token %}
          <p class="range-slider">
            <input type="range" id="product-range" name="quantity" value ="1" min="1" max="10" data-item_id="{{ product.id }}" />
          </p>
          <p class="quantity-slider"><i class="fas fa-plus"></i>Quantity: <span id="product-value"></span><i class="fas fa-minus"></i></p>
          <div class="add-to-bag-buttons">
            <a class="global-button" href="{% url 'all_products' %}"> Keep Shopping</a>
            <input class="global-button" type="submit" value="Add to Bag">
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
          </div>
        </form>
      </div>
      
  </div>
  <div class="product-review-container">
    <div class="review-form">
      <h3>Post a review</h3>
      <form action="{% url 'product_detail' product.id %}" method="POST">
        {% csrf_token %}
        {{ review_form }}
        <button class="global-button" type="submit">Post Review</button>
      </form>
    </div>
    <div class="review-section">
      <h3>Reviews</h3>
      {% for review in reviews %}
        <div class="review-content">
        {% if review.rating == 1 %}
        <!-- 1 star rating -->
          <div class="review-rating">
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          {% endif %}
          {% if review.rating == 2 %}
          <!-- 2 star rating -->
          <div class="review-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          {% endif %}
          {% if review.rating == 3 %}
          <!-- 3 star rating -->
          <div class="review-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            -<span>{{ review.user }} <i class="fas fa-user"></i></span>
          </div>
          {% endif %}
          {% if review.rating == 4 %}
          <!-- 4 star rating -->
          <div class="review-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          {% endif %}
          {% if review.rating == 5 %}
          <!-- 5 star rating -->
          <div class="review-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          {% endif %}
          <p><i class="fas fa-quote-left"></i><span>{{ review.body }}</span><i class="fas fa-quote-right"></i></p>
          <p class="review-date">{{ review.date }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}

<script type="text/javascript">
// Taken from https://www.w3schools.com/howto/howto_js_rangeslider.asp
// Quantity input range functions
  const slider = document.getElementById("product-range");
  const output = document.getElementById("product-value");
  output.innerHTML = slider.value;

  const plus = document.querySelector('.fa-plus')
  const minus = document.querySelector('.fa-minus')

  plus.addEventListener('click', () => {
    slider.valueAsNumber +=1
    console.log(slider.valueAsNumber);
    slider.value = slider.valueAsNumber
    output.innerHTML = slider.value;
  })
  minus.addEventListener('click', () => {
    slider.valueAsNumber -=1
    console.log(slider.valueAsNumber);
    slider.value = slider.valueAsNumber
    output.innerHTML = slider.value;
  })

  // Image gallery slider

  const productImageSlider = document.querySelector('.product-image-slider')
  const progressBar = document.querySelector('.progress-bar');

  productImageSlider.addEventListener('scroll', () => {
    progressBar.style.width  = `${scrollPercentage()}%`
  })

  productImageSlider.addEventListener('wheel', (e) =>{
  e.preventDefault()
  productImageSlider.scrollLeft += e.deltaY * 0.5;
  })

  function scrollPercentage() {
   return ((productImageSlider.scrollLeft / (productImageSlider.scrollWidth - productImageSlider.clientWidth) ) * 100);
  }
  </script>
{% endblock %}